<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reggio Calabria e Provincia </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <div class="container">
            <!-- quando vado in hover chiama  function modale -->
            <!-- quando non sono in hover chiama closeModal -->
            <!-- src v-bind prende url dall'indice della foto -->
            <!-- alt v-bind prende nome dall'indice della foto -->
            <img v-on:mouseover='openModal' v-on:mouseleave='closeModal' :src="photo[currentIndex].url" :alt="photo[currentIndex].nome">
            <!-- div con modale , v-if modalShow è vera allora è visibile  -->
            <div v-if="modalShow" class="pause">
                <i class="fas fa-pause-circle"></i>
            </div>
            <!-- click chiamano function nextPhoto e prevPhoto -->
            <button @click="prevPhoto" class="prev">&larr;</button>
            <button @click="nextPhoto" class="next">&rarr;</button>
            <div class="pallini">
                <!-- i pallini ne ho quanti sono gli oggetti  nell'array photo -->
                <!-- se il currentindex è uguale all'indice dell'oggetto del pallino allora il pallino si attiva -->
              <div v-for="(obj,i) in photo" :class="['pallino', currentIndex===i ? 'active' : 'disable']"></div>
            </div>
            <h1>{{photo[currentIndex].nome}}</h1>
        </div>
    </div>

    <script src="js/slider.js"></script>
</body>
</html>